   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   
   body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #102542;
    overflow: hidden; /* Ocultando a barra de rolagem */
   }

   .card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #f87060 40%, white 40%);
    width: 70%;
    height: 750px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.27);
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical se necessário */
    left: 300px;
  }

  .actions {
    text-align: right; /* Centraliza o conteúdo */
    width: 100%; /* Ocupa toda a largura */
  }

   .call {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    background:transparent;
    color: #fefefe;
    text-align: center;
    z-index: 2;
    opacity: 1;
   }
   
   #sign-in-call {
     left: 0;
     right: unset;
   }
   
   .call .title {
     color: #fefefe;
   }

   .title {
    font-family: "Trenda";
    font-size: 70px;
    letter-spacing: 1px;
    color: #102542;
    margin-right: 120px;
    margin-bottom: 20px;
  }
   
   .call-btn {
    cursor: pointer;
    border: 0.063rem solid #fefefe;
    color: #fefefe;
    border-radius: 2rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    background-color: transparent;
    padding: 0.8rem 3.5rem;
   }
   
   .call-btn:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.188);
   }

   .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    color: #102542;
    margin-right: 120px;
   }

   .form-1 {
    width: 600px;
    margin: 0 0 1.2rem;
    border: none;
    padding: 1rem;
    margin-right: 120px;
    display: flex;
   }

   .form-link {
    font-size: 20px;
    position: absolute;
    top: 590px; /* Ajuste conforme necessário */
    right: 100px; /* Ajuste conforme necessário */
    z-index: 9999; /* Garante que o botão esteja acima de todos os outros elementos */
   }

   .form-btn {
    cursor: pointer;
    border: none;
    border-radius: 2rem;
    text-transform: uppercase;
    color: #fefefe;
    font-family: "Trenda";
    font-size: 20px;
    background-color: #b64438;
    padding: 20px 40px;
    position: absolute;
    top: 630px; /* Ajuste conforme necessário */
    right: 330px; /* Ajuste conforme necessário */
    z-index: 9999; /* Garante que o botão esteja acima de todos os outros elementos */
   }
   
   .form-btn:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.188);
   }

   .form-section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: space-between;
    width: 100%;
    height: 100%;
   }

   .form-field {
    width: 80%;
    margin: 0 0 1.2rem;
    border: none;
    background: rgb(228, 228, 228);
    padding: 1rem;
   }
   
   .form-box {
    width: 100%;
    margin: 0 0 1.2rem;
    border: none;
    background: rgb(228, 228, 228);
    padding: 1rem;
   }

   .form-nick {
    border: 3px solid #102542;
    width: 45%;
    background: transparent;
    padding: 20px;
    font-size: 25px;
   }

   .form-nick::placeholder {
    color: #102542;
}

  .column {
    flex: 3;
    margin-top: 20px;
  }
  
  .column:last-child {
    margin-left: 100px; /* Remove a margem da última coluna para evitar espaçamento excessivo */
    margin-top: 30px;
  }

   login-container {
    text-align: left;
  }

  .profile-section {
    display: flex;
    align-items: center;
    margin-right: -30px;
}
  
  #profile-image {
    width: 150px;
    height: 150px;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .custom-file-upload {
    position: absolute;
    bottom: 0;
    left: 30%;
    bottom: 50%;
    background-color: #102542;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
  }

  .custom-file-upload i {
    font-size: 20px;
    justify-content: right;
  }

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  
  input[type="file"] {
    display: none;
  }

  a {
    font-size: 20px;
    margin-right: 110px;
    color: #3e8989;
  }

  a:hover {
    color: #f87060;
  }

  .link{
    color: #102542;
  }

  .link:hover{
    color: #102542;
  }

  select {
    -webkit-appearance: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    background: #efefef url(http://greenroom.buzzhopper.com/styleguide/img/dropdown_triangle.svg) 150px center no-repeat; /*seta de caixa*/
    background-size: 10px 7px; /*tamanho da seta*/
    color: #91999E;/* cor select*/
    width: 180px;
    height: 46px;
    outline: none;
    border-style: none;
    outline: none;
    cursor: pointer;
    padding: 0 40px;/* distancia da palavra select*/ 
  }

  .selected-tipos {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    justify-content: center; /* Centraliza os ícones horizontalmente */
    margin-bottom: 10px; /* Adiciona um espaço entre os ícones e a caixa de seleção */
  }

.tipos {
  margin-top: 10px;
}

.selected-tipos .tipo-icon {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-right: 5px;
}

.selected-tipos .remove-button {
  padding: 3px 5px; /* Tamanho reduzido do botão */
  font-size: 12px; /* Tamanho da fonte do botão reduzido */
}

.select-container {
  max-height: 150px; /* Defina a altura máxima do contêiner */
  overflow-y: auto; /* Adiciona uma barra de rolagem vertical ao contêiner */
}

.requirements {
  margin-top: 20px;
}

.requirements ul {
  list-style-type: none;
  padding: 0;
}

.requirements li {
  color: red;
}


/*
#102542
#f87060
#b3a394
#e3d985
#3e8989
*/

