body {
	font-family: Arial, sans-serif;
    display: grid;
    place-items: center;
    height: 100vh; /* Definindo a altura do corpo como 100% da altura da tela */
  overflow: hidden; /* Ocultando a barra de rolagem */
    background-color: transparent;
}

.container {
	width: 450px;
	background-color: #ffffff;
	padding: 30px;
	border: 1px solid #102542;
	border-radius: 5px;
	margin-bottom: 200px;
	box-shadow: 0px 0px 20px #102542;
	padding-block: 30px;
	position: relative; /* Adicionar posição relativa */
    z-index: 1; /* Garantir que o container de login fique na frente */
}

.dark .container {
	border: 1px solid #f87060;
	box-shadow: 0px 0px 20px #f87060;
}

.container h1 {
	margin-bottom: 20px;
	font-size: 45px;
	color: #102542;
}

.container label {
	display: block;
	margin-bottom: 5px;
	font-size: 20px;
	color: #102542;
}

.container input[type="password"] {
	width: 100%;
	padding: 8px;
	border: 1px solid #102542;
	border-radius: 3px;
	box-sizing: border-box;
	margin-bottom: 10px;
	background-color: #d8d8d8;
}

.dark .container input[type="password"] {
	border: 1px solid #f87060;
}

.container button[type="submit"] {
	width: 100%;
	padding: 14px;
	background-color: #102542;
	color: #b3a394;
	font-size: 15px;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}

.dark .container button[type="submit"] {
	color: #102542;
	background-color: #f87060;
}

.container button[type="submit"]:hover {
	background-color: #16335c;
}

.dark .container button[type="submit"]:hover {
	background-color: #da5e50;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Garantir que o iframe fique atrás do container de login */
}

/*

#102542
#f87060
#b3a394
#e3d985
#3e8989

*/